<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO redirect confirmation</title>
</head>
    <body>
    	<header>
    		<h1>Your account is nearly ready</h1>
    		<p>Just check your details before creating your account on {{ server_name }}</p>
    	</header>
    	<main>
    		<!-- {% if user_profile %} -->
            <div class="profile">
                <img src="{{ user_profile.avatar_url }}" class="avatar" />
                <div class="profile-details">
                    <div class="display-name">{{ user_profile.display_name }}</div>
                    <div class="user-id">{{ user_id }}</div>
                </div>
            </div>
            <!-- {% endif %} -->
	        <p>The application at <strong>{ display_url | e }}</strong> is requesting full access to your <strong>{{ server_name }}</strong> Matrix account.</p>
	        <p>If you don't recognise this address, you should ignore this and close this tab.</p>
	        <p>
	            <a href="{{ redirect_url | e }}" class="primary-button">I trust this address</a>
	        </p>
    	</main>
    </body>
</html>