<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO redirect confirmation</title>
</head>
    <body>
    	<header>
    		<h1>Your account is now ready</h1>
    		<p>You've made your account on {{ server_name }}.</p>
            <p>Continue to confirm you trust <strong>{{ display_url | e }}</strong>.</p>
    	</header>
    	<main>
    		{% include "sso_profile_partial.html" %}
	        <form method="post" action="{{my_url}}">
                <input type="submit" name="Continue">   
            </form>
    	</main>
    </body>
</html>