<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO redirect confirmation</title>
</head>
    <body>
    	<header>
    		<h1>Your account is nearly ready</h1>
    		<p>Just check your details before creating your account on {{ server_name }}</p>
    	</header>
    	<main>
    		<!-- {% if user_profile %} -->
            <div class="profile">
                <img src="{{ user_profile.avatar_url }}" class="avatar" />
                <div class="profile-details">
                    <div class="display-name">{{ user_profile.display_name }}</div>
                    <div class="user-id">{{ user_id }}</div>
                </div>
            </div>
            <!-- {% endif %} -->
	       <p>Check the <a href="{{ terms_url }}">terms.</a></p>

            <form method="post">
                <input type="hidden" name="accepted_version" value="{{ consent_version }}"/>
                <input type="submit"/>
            </form>
    	</main>
    </body>
</html>
