<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO redirect confirmation</title>
</head>
    <body>
    	<header>
    		<h1>Your account is now ready</h1>
    		<p>You've made your account on {{ server_name }}.</p>
            <p>Continue to confirm you trust <strong>{{ display_url | e }}</strong>.</p>
    	</header>
    	<main>
            <!-- {% if user_profile %} -->
            <div class="profile">
                <img src="{{ user_profile.avatar_url }}" class="avatar" />
                <div class="profile-details">
                    <div class="display-name">{{ user_profile.display_name }}</div>
                    <div class="user-id">{{ user_id }}</div>
                </div>
            </div>
            <!-- {% endif %} -->
	        <form method="post" action="{{my_url}}">
                <input type="submit" name="Continue">   
            </form>
	        <a href="{{redirect_url}}" class="primary-button"/>Continue</a>
    	</main>
    </body>
</html>
